################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogApi
/Application/bin
/Application/obj
/Data/bin
/Data/obj
/Domain/bin
/Domain/obj
/Models/bin
/Models/obj
/Test/bin
/Test/obj
/WebApi/bin
/WebApi/obj
